<footer class="border-top footer bg-dark text-light">
    <div class="container">
        &copy; 2023 - HR_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>